.breadcrumb {
    margin-top: 24px;
    margin-left: 20px;
    margin-bottom: 16px;
    ul {
      list-style: none;
      display: flex;
      gap: 8px;
      padding: 0;
      margin: 0;
    }
  
    li {
      display: inline;
      
      &:not(.active) {
        a {
          text-decoration: underline;
          color: #7E5FD4;
          cursor: pointer;
        }
      }
  
      &.active {
        span {
          font-weight: bold;
          color: #7E5FD4;
          text-decoration: none;
        }
      }
    }
  }
  .link {
    text-decoration: underline;
    color: inherit; 
  }
  
  .separator {
    margin: 0 5px;
  }
  