.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .button {
    background-color: #FEF7FF;
    border: 1px solid #8B6ED8;
    border-radius: 6px;
    color: #8B6ED8;
    padding: 10px;
    cursor: pointer;
    width: 200px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .icon {
    margin-left: 10px;
  }
  
  .menu {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #FEF7FF;
    border: 1px solid #8B6ED8;
    color: #8B6ED8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .item {
    padding: 10px;
    cursor: pointer;
  }
  
  .item:hover {
    background-color: #f0f0f0;
  }
  